<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Customer Manager</title>
</head>
<body>
<div layout:decorator="layout">
    <section layout:fragment="content">
        <h1>Customer Manager</h1>
        <h1>Willkommen in der Kundenverwaltung von bestebrettspiele.at!</h1>
        <!--  Kunden verwalten -->
        <!--    Kunden auflisten und deren Bestelldetails einsehen
                Kunden aktiv/inaktiv setzen
                Bestellungen bearbeiten -->
        <container class="container" id="allCustomerData">

        </container>
        <script type="text/javascript" src="js/customermanager.js"></script>
    </section>
</div>
</body>
</html>