
<!DOCTYPE html>
<html>
<head>
    <title>Dein Titel</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/profile">Mein Konto</a>
                </li>
                <li class="menu-item">
                    <img src="../../img/shopping-cart.png" style="width:5%" onclick="toggleCartClick()">
                    <div id="cartContainer" class="dropdown-cart-content"></div>
                </li>
                <li class="menu-item">
                    <a href="/profile">
                        <img src="../../img/user-icon.jpg" style="width:5%">
                        <div id="userprofileContainer" class="userprofileContainer"></div>
                    </a>
                </li>
                <li class="menu-item" id="logoutButton" onclick="logout()">
                    <a href="/">Logout</a>
                </li>
                <li class="menu-item" id="loginButton">
                    <a href="/login">Login</a>
                <li class="menu-item">
                    <a href="/admin">Admin</a>
                </li>
                <li class="menu-item" id="registerButton">
                    <a href="/registration">Registration</a>
                </li>
            </ul>
        </nav>
    </div>
    <script type="text/javascript" src="js/header.js"></script>
</body>
</html>