spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rsystem?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  mvc:
    view:
      prefix: classpath:/templates/
      suffix: .html
  devtools:
    livereload:
      enabled: true
  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
server:
  port: 8181
  error:
    whitelabel:
      enabled: false
logging:
  level:
    org:
      springframework:
        security: DEBUG



