.header {
    background-color: #f2f2f2;
    padding: 10px;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listItem {
    display: block;
    margin-right: 10px;
}

.menu-item {
    display: flex;
    margin-right: 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.header nav ul li a:hover {
    color: #555;
}

.dropdown-cart-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.show {display: block;}

#cartList {
    display: block;
}


#amountProducts {
    background-color: red;
    padding: 0px 8px;
    border-radius: 50%;
    color: snow;
}

#listItem li {
    text-align: center;
}

.listItemValue {
    display: inline-block;
    width: 25%;
}

.header {
    /* Fügen Sie hier die gewünschten Stile hinzu, z. B. Hintergrundfarbe, Höhe, Abstand usw. */
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin-right: 10px; /* Abstand zwischen den Elementen anpassen */
}

.menu-item:last-child {
    margin-right: 0; /* Kein Abstand für das letzte Element */
}